<div fxLayout="column" fxLayoutGap="1em" class="stdPadding">
    <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center">
        <button [disabled]="needDataDir" mat-icon-button (click)="back()">
            <mat-icon svgIcon="back"></mat-icon>
        </button>
        <span class="bigText">Configuration</span>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="configForm" fxLayout="column" fxLayoutGap="1em">
        <span class="mediumText">Configure New/Existing Data Folder</span>
        <mat-form-field>
            <input #dataDir matInput formControlName="dataDir" placeholder="Data Directory Path" type="text" required>
            <mat-hint>This is where TinyStock data is stored</mat-hint>
        </mat-form-field>
        <mat-card *ngIf="needDataDir" fxLayout="column" fxLayoutGap="1em">
            <small>TinyStock needs the path to a folder where application data can be stored.
                You may use an empty folder or an existing TinyStock data folder.</small>
        </mat-card>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em" fxLayoutAlign="default center"
            fxLayoutAlign.lt-md="default default">
            <mat-form-field fxFlex="100%">
                <input #password matInput formControlName="password" placeholder="Password" type="password">
                <mat-hint>Minimum {{getMinPasswordLength()}} characters - UNRECOVERABLE</mat-hint>
            </mat-form-field>
            <mat-checkbox fxFlex="20%" matInput formControlName="rememberPassword">Remember Password</mat-checkbox>
        </div>
        <mat-card *ngIf="needPassword" fxLayout="column" fxLayoutGap="1em">
            <small>TinyStock data must be password protected. If you're using an existing data
                folder,
                enter its existing password.</small>
            <small>If you're setting the password for the first time, make a note of it in a safe place, as there is NO
                WAY
                to recover it.</small>
            <small>Passwords must be at least {{getMinPasswordLength()}} characters long.</small>
            <small>If you choose to 'remember' the password, you won't have to enter it here on every app launch but it
                will be available to anyone with access to this computer.</small>
        </mat-card>
        <mat-form-field>
            <input matInput formControlName="host" placeholder="Host URL" type="text">
            <mat-hint>Leave this empty if unsure</mat-hint>
        </mat-form-field>
        <div fxLayout="column" fxLayoutAlign="default start" fxLayoutAlign.lt-sm="default default">
            <button mat-raised-button color="primary" [disabled]="!configForm.valid || needPassword || submitting"
                (click)="save()">Test
                & Save</button>
        </div>
    </form>
    <mat-divider *ngIf="directoryExists"></mat-divider>
    <form *ngIf="directoryExists" [formGroup]="changePasswordForm" fxLayout="column" fxLayoutGap="1em">
        <span class="mediumText">Change Password of Existing Data Folder</span>
        <mat-form-field fxFlex="100%">
            <input matInput formControlName="newPassword" placeholder="New Password" type="password">
            <mat-hint>Minimum {{getMinPasswordLength()}} characters - UNRECOVERABLE</mat-hint>
        </mat-form-field>
        <div fxLayout="column" fxLayoutAlign="default start" fxLayoutAlign.lt-sm="default default">
            <button mat-raised-button color="accent"
                [disabled]="!changePasswordForm.valid || needNewPassword || submitting || !configForm.controls['password'].valid"
                (click)="changePassword()">Change</button>
        </div>
        <mat-card *ngIf="needNewPassword || !configForm.controls['password'].valid" fxLayout="column" fxLayoutGap="1em">
            <small *ngIf="needNewPassword">Passwords must be at least {{getMinPasswordLength()}} characters
                long.</small>
            <small *ngIf="!configForm.controls['password'].valid">Enter the existing password in the top
                section.</small>
        </mat-card>
    </form>
    <mat-divider *ngIf="directoryExists"></mat-divider>
    <div *ngIf="directoryExists" fxLayout="column" fxLayoutGap="1em">
        <span class="mediumText">Export Data</span>
        <div fxLayout="column" fxLayoutAlign="default start" fxLayoutAlign.lt-sm="default default">
            <button mat-raised-button color="accent" [disabled]="submitting" (click)="export()">Export</button>
        </div>
        <mat-card fxLayout="column" fxLayoutGap="1em">
            <small>Use this to download an unencrypted copy of TinyStock data.</small>
        </mat-card>
    </div>
    <mat-divider *ngIf="directoryExists"></mat-divider>
    <form *ngIf="directoryExists" [formGroup]="importForm" fxLayout="column" fxLayoutGap="1em">
        <span class="mediumText">Import Data</span>
        <div fxLayout="row" fxLayoutGap="1em" fxLayout.lt-sm="column">
            <div fxLayout="column">
                <label for="items-upload" class="custom-file-upload">Items</label>
                <input id="items-upload" formControlName="itemsInput" placeholder="Items" type="file"
                    (change)="onItemsFileChange($event)" required>
            </div>
            <div fxLayout="column">
                <label for="transactions-upload" class="custom-file-upload">Transactions</label>
                <input id="transactions-upload" formControlName="transactionsInput" placeholder="Transactions" type="file"
                    (change)="onTransactionsFileChange($event)" required>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="default start" fxLayoutAlign.lt-sm="default default">
            <button mat-raised-button color="accent" [disabled]="!importForm.valid || submitting"
                (click)="importFiles()">Import</button>
        </div>
        <mat-card *ngIf="!importForm.valid" fxLayout="column" fxLayoutGap="1em">
            <small>Use this to import TinyStock data files to irreversibly replace any existing data.</small>
            <small>Make sure the files are plain, unencrypted JSON.</small>
            <small>Make sure your configuration has been saved with a valid password. This password will be checked
                against any existing data before replacement.</small>
            <small>The password will also be used to encrypt the new data.</small>
        </mat-card>
    </form>
</div>