
@import '~@angular/material/theming';
@include mat-core();

$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-pink);
$light-warn: mat-palette($mat-red);

$dark-primary: mat-palette($mat-green, 'A400');
$dark-accent: mat-palette($mat-amber);
$dark-warn: mat-palette($mat-red, 'A100');

$light-theme: mat-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));

$dark-theme: mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

@mixin lightTheme {
  @include angular-material-theme($light-theme);

  .background {
    background-color: #EEEEEE;
    color: #000000;
  }

  .themeCircleSelected {
    border: 2px solid #EEEEEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  }

  .themeCircleDeselected {
    border: 2px solid #222222;
  }
}

@mixin darkTheme {
  @include angular-material-theme($dark-theme);

  .background {
    background-color: #222222;
    color: #EEEEEE;
  }

  .themeCircleSelected {
    border: 2px solid #222222;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.25), 0 6px 20px 0 rgba(255, 255, 255, 0.25);
  }

  .themeCircleDeselected {
    border: 2px solid #EEEEEE;
  }
}

.lightTheme {
  @include lightTheme();
}

.darkTheme {
  @include darkTheme();
}

.responsiveTheme {
  @media (prefers-color-scheme: light) {
    @include lightTheme();
  }
  @media (prefers-color-scheme: dark) {
    @include darkTheme();
  }
}

html, body { height: 100%; background-color: #222222; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.stdPadding {
  padding: 1em !important;
}

.stdPaddingNoTop {
  padding-left: 1em !important;
  padding-right: 1em !important;
  padding-bottom: 1em !important;
}

.bigText {
  font-size: x-large !important;
}

.mediumText {
  font-size: large !important;
}

.autoOverflow {
  overflow: auto;
}

.fillHeight {
  height: 100vh;
}

.themeCircle {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.stdX5PaddingTop {
  padding-top: 5em !important;
}

.lowContrast {
  color: #888888;
}