<div fxLayout="column" fxLayoutGap="1em" class="stdPadding">
    <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center">
        <button mat-icon-button (click)="back()">
            <mat-icon svgIcon="back"></mat-icon>
        </button>
        <span class="bigText">Sales</span>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
        <span>{{(displayedSales | async).length}} Sales</span>
        <button mat-raised-button color="primary" routerLink="/makeSale">Make Sale</button>
    </div>
    <div class="autoOverflow" *ngIf="displayedSales.value.length > 0">
        <table mat-table [dataSource]="displayedSales" fxFill>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let sale"> {{toDateString(sale.date)}} </td>
            </ng-container>
            <ng-container matColumnDef="items">
                <th mat-header-cell *matHeaderCellDef> Items </th>
                <td mat-cell *matCellDef="let sale">
                    <div fxLayout="column" fxLayoutGap="1em" class="stdPadding">
                        <span *ngFor="let item of sale.items"><b>{{item.description}}
                                {{item.setQuantity ? '( set of ' + item.setQuantity + ')' : ''}}</b> - {{item.quantity}}
                            units @ {{item.price}} each.</span>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="adjustments">
                <th mat-header-cell *matHeaderCellDef> Adjustments </th>
                <td mat-cell *matCellDef="let sale">
                    <div fxLayout="column" fxLayoutGap="1em" class="stdPadding">
                        <span *ngFor="let adjustment of sale.adjustments"><b>{{adjustment.amount < 0 ? adjustment.amount : '+' + adjustment.amount}}</b> -
                            {{adjustment.note}}</span>
                    </div>
                </td>
            </ng-container>
        </table>
    </div>
</div>